{#- Ported from apps/kudzu/src/components/Header.tsx. #}
<header class="header">
  <div class="container">
    <a class="logo" href="{{ site.base }}/">
      OTW <span class="logo-sub">for</span> FE
    </a>
    <a class="link" href="{{ site.base }}/news/list/1/"> Archive </a>
  </div>
</header>
